/* 
Project Name: Mean Girls Burn Book
Client: General Assembly
Author: Devika Dalal
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

a {
	transition:;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

body {
	width:100vw;
     height:100vh;
     background-image: url("../images/homepage-background.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}

.container {
     position: absolute;
     top:60%;
     left:50%;
     transform: translate(-50%, -50%);
     margin: auto;
     cursor: pointer;
}

h1 {
     font-family: "Indie Flower";
     font-size: 1.25em;
     margin-left: 220px;
     opacity: 0;
}

.container:hover h1 {
     opacity: 1;
}

img {
     cursor: pointer;
}

img:hover {
     transform: skew(5deg); 
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                
/*******************************************/

